@import './utils/colors.styl'

body
  color hsla(0, 0%, 0%, 0.8)

a:hover
    text-decoration none

.header-logo-img
    margin-bottom 1rem
    max-width 200px

.tagline
    font-size 1.5rem

.title
    font-size 2rem
    line-height 2rem
    margin-bottom 0

.sl-header
    background-color slblue
    color white
    height 50%vh
    margin-bottom 1.45rem
    text-align center
    width 100%

.bar1, .bar2
    width 26px
    height 1px
    background-color white;
    margin 6px 0
    transition: 0.4s

.change .bar1
    -webkit-transform rotate(-45deg) translate(-8px, -1px)
    transform rotate(-45deg) translate(-8px, -1px) ;

.change .bar2
    -webkit-transform rotate(45deg) translate(-5px, 2px)
    transform rotate(45deg) translate(-5px, 2px)

.navbar-dark .navbar-toggler
    border none

.navbar-toggler:focus, .navbar-toggler:hover
    outline: none;

button:hover
    cursor pointer


//   background-color black
//   overflow hidden
//   padding 1em
//   border-bottom 1px solid #000

// nav a 
//   color #FFF

// nav a:visited 
//   color #FFF

// nav .navWide 
//   display none
//   margin 0 auto

// nav .navWide .wideDiv 
//   text-align center;

// nav .navWide .wideDiv a 
//   text-decoration none
//   display inline-block
//   padding 0 2em

// nav .navNarrow i 
//   float left
//   cursor pointer
//   color #FFF

// nav .navNarrow .narrowLinks 
//   display none

// nav .navNarrow .narrowLinks a 
//   text-decoration none
//   display block
//   float left
//   clear left
//   padding 0.5em 0

// @media (min-width: 480px) 
//   nav .navWide 
//     display: block
  
//   nav .navNarrow 
//     display: none