blue = #27cfe6

body
  color hsla(0, 0%, 0%, 0.8);

pre
    font-family monospace, monospace
    font-size 1em
    margin-left 0
    margin-right 0
    margin-top 0
    padding-bottom 0
    padding-left 0
    padding-right 0
    padding-top 0
    margin-bottom 1.45rem
    font-size 0.85rem
    line-height 1.42
    background hsla(0, 0%, 0%, 0.04)
    border-radius 3px
    overflow auto
    word-wrap normal
    padding 1.45rem

a:hover
    text-decoration none

