@import './utils/colors.styl'

body
  color hsla(0, 0%, 0%, 0.8)

a:hover
    text-decoration none

.header-logo-img
    margin-bottom 1rem
    max-width 200px

.tagline
    font-size 1.5rem

.title
    font-size 2rem
    line-height 2rem
    margin-bottom 0

.sl-header
    background-color slblue
    color white
    height 50%vh
    margin-bottom 1.45rem
    text-align center
    width 100%

.bar1, .bar2
    width 26px
    height 1px
    background-color white;
    margin 6px 0
    transition: 0.4s

.change .bar1
    -webkit-transform rotate(-45deg) translate(-8px, -1px)
    transform rotate(-45deg) translate(-8px, -1px) ;

.change .bar2
    -webkit-transform rotate(45deg) translate(-5px, 2px)
    transform rotate(45deg) translate(-5px, 2px)

.navbar-dark .navbar-toggler
    border none

.navbar-toggler:focus, .navbar-toggler:hover
    outline: none;

button:hover
    cursor pointer